<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XML Configuration Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/build_xml/style.css') }}">
</head>
<body>
    <div class="root">
        <h1>XML Configuration Generator</h1>
        
        <form id="xml-configuration-container">
            <div id="webform-container">
                <div id="url-container">

                </div>
                <div id="form-id-container">

                </div>
                <div id="timeout-container">

                </div>
                <div id="submission-timeout-container">

                </div>
                <div id="fields-container">
                    <div id="field-container">
                        <div id="field-id-container">

                        </div>
                        <div id="field-class-container">

                        </div>
                        <div id="field-xpath-container">

                        </div>
                        <div id="field-type-container">

                        </div>
                        <div id="field-value-container">

                        </div>
                        <div id="default-index-container">

                        </div>
                        <div id="default-value-container">

                        </div>
                    </div>
                </div>

                <!-- Tests -->
                <div id="tests-container">
                    <div id="test-container">
                        <div id="test-id-container">

                        </div>
                        <div id="test-description-container">

                        </div>
                        <div id="test-run-container">

                        </div>
                        <div id="test-language-container">

                        </div>
                        <div id="steps-container">
                            <div id="step-container">
                                <div id="step-accessby-container">

                                </div>
                                <div id="step-key-container">

                                </div>
                                <div id="step-action-container">

                                </div>
                                <div id="value-container">

                                </div>
                                <div id="expectation-container">
                                    <div id="expectation-formsubmission-container">

                                    </div>
                                    <div id="message-container">
                                        <div id="message-accessby-container">

                                        </div>
                                        <div id="message-key-container">

                                        </div>
                                        <div id="message-language-container">

                                        </div>
                                        <div id="message-type-container">

                                        </div>
                                        <div id="message-value-container">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div id="generated-xml-container">
            <h2>Generated XML</h2>
            <pre id="generated-xml"></pre>
            <button id="copy-xml-btn">Copy XML</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/build_xml/script.js') }}"></script>
</body>
</html>